body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-color: rgb(251, 250, 250);
}
.container{
    width: 100%;
    height: 100px;
    background-color:white
}
.logo{
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 40px; 
}
.logo img{
    height: 100px;
    width: 170px;
    position: relative;
    top: -30px;
    margin-left: 50px;
}


/*Right Side search section*/
.searcharea{
    position: relative;
    right: 90px;
    top: 30px;
    width: 170px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px 20px beige, -2px -2px 2px beige;
    border: 2px solid rgb(255, 248, 248);
    left: 1200px;
}
.searchbox input{
    width: 90px;
    height: 20px;
    border: none;
    outline:none;
    background-color: transparent;
    color: black;
    padding: 0px 10px;
    text-align: center;
    margin-top: 15px;
    margin-left: 0px;
    font-size: 15px;
}
.searchbox i{
    margin-left: 30px;
}
.searchbox input::placeholder{
    color: black;
    letter-spacing: 2px;
    font-family:fantasy
}




/*summer cullection Heading & image*/
.section1{
    position: absolute;
    top: 20%;
    left: 65px;
   
}

.section1 img{
    height: 400px;
    width: 800px;
}

.section1button{
    position: absolute;
    top: 40%;
    left: 60%;
}
.section1button h1, h2{
    font-family: roboto;
    font-weight: bold;
    margin: 0%;
    line-height: 60px;
    font-size: 60px;
    text-shadow: 2px 2px 10px black;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.section1button h1{
    letter-spacing: 30px;
}
span{
    color: blueviolet;
}


/*Buy Now Button*/
.btn1{
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
}
.btn1:hover{
    background-color: brown;
    transition: 0.5s all ease-in;
}


/*Left Side Facebook,LinkedIn etc Button*/
.iconarea{
    position: fixed;
    left: 30px;
    top: 230px;
    font-size: 30px;
    height: 300px;
    width: 90px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 5px 30px rgb(213, 182, 182);
}
.iconarea a{
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
    justify-content: center;
    align-items: center;
    
}



/*Product section*/
.productsection{
    top: 595px;
    height: 820px;
    width: 1200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(215, 201, 201);

}
.productsection h3{
    margin: auto;
    font-size: 30px;
    font-family: myriad pro;
}
.productsection h3 span{
    color: brown;
}
.product{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}
.productbox p{
    position: relative;
    top: 10px;
    
}
.productbox img{
    height:180px;
    width: 280px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px 20px;
    position: relative;
    top: 20px;
    background-color: white;

}
.productbox a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.productbox .buybtn{
    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 108px;
    background-color: blueviolet;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 2px solid blueviolet;
    margin-bottom: 30px;
}
.productbox .buybtn:hover{
    background-color: brown;
    border: 2px solid blueviolet;
    transition: all 0.5s ease-in;
}
.about{
    position: relative;
    top: 750px;
}

.aboutbox1{
    height: 500px;
    width: 500px;
    position: relative;
    margin-left: 165px;
    bottom: 100px;
}
h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -30px;
}
h4{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    top: -70px;
}
.aboutp{
    position: relative;
    top: -100px;
    font-family:Calibri;
    font-size: 20px;
    font-weight: bold;
}
.aboutbox1 img{
    height: 400px;
    width: 760px;
    position: relative;
    left: 550px;
    top: -500px;
}



/*Notification section*/

.Notification{
    position: relative;
    top: 700px;
}
.hnotification{
    text-align: center;
    font-size: 25px;
}
.Notificationinput{
    text-align: center;
}
.Notificationinput {
    height: 70px;
    width: 600px;
    border-radius: 100px;
    box-shadow: 5px 5px 30px #d9d4cc,-5px -5px 30px #d9d4cc;
    background-color: white;
    font-size: 15px;
    border: none;
    text-align: center;
    margin-left: 30%;
    
    
}
.Notificationinput input{
    height: 60px;
    width: 500px;
    border-radius: 100px;
    border: none;
    outline: none;
    position: relative;
    top: 5px;
    left: -20px;
    
}
.Notificationinput input::placeholder{
    position: relative;
    font-weight: bold;
   

}
.Notificationinput button{
    height: 45px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 100px;
    position: relative;
    margin-left: 465px;
    top: -50px;
    
}
.Notificationinput button:hover{
    background-color: blueviolet;
    transition: all 0.5s ease-in;
}


footer{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    top: 770px;
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
}




/*Mobile View*/
@media(max-width:768px){
    .searcharea{
        position: relative;
        margin-left: -930px;
    }
    .logo{
        margin-left: -50px; }
.iconarea{
        height: 215px;
        width: 35px;
        font-size: 15px;
        margin-left: -15px;
        margin-top: -40px;}
    .iconarea a{
        margin-left: -18px;
    }
    .section1 img{
        height: 200px;
        width: 200px;
        margin-top: 30px;
        margin-left: 10px;
    }
    .section1button h1, h2{
        height: 50px;
        width: 50px;
        font-size: 10px;}
    .section1button h1{
        letter-spacing: 2px;
        font-size: 25px;
        margin-left: 20px;
        margin-top: -40px;
    }
    .section1button h2{
        font-size: 20px;
        margin-left: 20px;
        margin-top: -65px;
    }
    .btn1{
        height: 25px;
        width: 80px;
        margin-left: 20px;
        margin-top: -50px;
    }
    .productsection{
        height: 400px;
        width: 410px;
        left: 20px;
        font-size: 10px;
        margin-top: -220px;
    }
    .productsection h3{font-size: 20px}
    .productsection img{
        height: 65px;
        width: 65px;
        margin-top: -20px;
    }
    .productsection .buybtn{
        width: 60px;
        height: 20px;
        font-size: 10px;
        margin-left: -77px;
    }
    .hh{
        font-size: 20px;
        margin-top: 40px;
        margin-left: -100px;}
    .hhh{
        font-size: 15px;
        margin-top: 40px;
        margin-left: -100px; 
        height: 10px;
        width: 220px;
    }
    .about p{
        font-size: 10px;
        margin-top: 50px;
        margin-left: -100px;
        margin-top: 80px;
        height: 10px;
        width: 200px;
    }
    .about img{
        height: 300px;
        width: 250px;
        margin-top: 240px;
        margin-left: -460px;
    }
    .Notification h1{
        font-size: 15px;
        margin-top: -30px;
    }
    .Notificationinput{
        height: 30px;
        width: 300px;
        margin-left: 90px;
        margin-top: -30px;
        box-shadow: 3px 4px 20px rgb(216, 213, 207),-3px -3px 20px rgb(216, 213, 207);
    }
    .Notification input{
        height: 25px;
        width: 280px;
        margin-left: 45px;
        margin-top: -10px;
    }
    .Notificationinput button{
        height: 22px;
        width: 50px;
        right: 211px;
        margin-top: 31px;
        font-size: 13px;
        
    }
    footer{
        margin-top: -15px;
        font-size: 15px;
        height: 30px;
    }
    footer p{
        margin-top: 4px;
    }
}
